<!DOCTYPE html> 
<html> 
	<head> 
	    <title>Game on!</title> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> </meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
	    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
        <script type="text/javascript" src="~/js/jquery.sparkline.js"></script>
        <script type="text/javascript" src="~/js/GameOn.Sparklines.js"></script>
        <script type="text/javascript">
            $(function () {
                RenderSparklines();
            });
            $('div').live('pageshow', function () {
                RenderSparklines();
                $.sparkline_display_visible();
            });
        </script>        
    </head> 
<body> 

<div data-role="page" data-theme="b">
    @RenderBody()
</div><!-- /page -->

</body>
</html>