<div data-role="navbar">
    <ul>
        <li><a asp-controller="Home" asp-action="Index" data-icon="home">Home</a></li>
        <li><a asp-controller="Matches" asp-action="New" data-icon="search">Play!</a></li>
        <li><a asp-controller="Players" asp-action="Ladder" data-icon="info">Ladder</a></li>
        <li><a asp-controller="Matches" asp-action="Index" data-icon="info">Matches</a></li>
    </ul>
</div><!-- /navbar -->